@page
@model IndexModel

<div class="home-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="home-dashboard-item">
                    <p class="display-4">Clipboard</p>
                    <p>Add new clipboard entries to an online clipboard.</p>
                    <a asp-page="Clipboard" class="btn float-right home-dashboard-item-action-item">
                        Go
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="home-dashboard-item">
                    <h3>mesi.io</h3>
                    <p>
                        This is my personal development project. You propably won't find
                        anything usefull here.
                        <br/>However, everything you see here was made by me, from
                        writing the web application in kotlin with spring boot, designing
                        the frontend, or deploying my application on AWS with docker
                        containers.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="home-dashboard-item">
                    <h3>Current technology stack</h3>
                    <div class="technology-image-container">
                        <img
                            src="/assets/img/dotnet-50.png"
                            alt="image"
                            class="img-thumbnail align-bottom"/>
                        <img
                            src="/assets/img/vue-50.png"
                            alt="image"
                            class="img-thumbnail"/>
                        <img
                            src="/assets/img/postgres-50.png"
                            alt="image"
                            class="img-thumbnail"/>
                        <img
                            src="/assets/img/docker-logo-50.png"
                            alt="image"
                            class="img-thumbnail"/>
                        <img
                            src="/assets/img/aws-50.png"
                            alt="image"
                            class="img-thumbnail"/>
                        <img
                            src="/assets/img/nginx-50.png"
                            alt="image"
                            class="img-thumbnail"/>
                        <img
                            src="/assets/img/ansible-50.jpg"
                            alt="image"
                            class="img-thumbnail"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>